#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dice {
  display: inline-block;
  max-width: 465px;
}

.description {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 348px;
  text-align: center;
}