#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

.description {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 348px;
  text-align: center;
}

.dice {
  display: inline-block;
  max-width: 465px;
}

.btn-roll-dice {
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  color: #242424;
  font-size: 22px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #cc5064;
  cursor: pointer;
}